.fila{
  display: flex;
  flex-direction: row;
    justify-content: center;
    gap: 0.2vw;
}

.boton{
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main{

    height: 100vh;
    width: 100vw;
    background-color: #6F4C5B;
}

.board{
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
}

.history{
    display: flex;
    flex-direction: row;
    gap: 0.2vw;
    justify-content: center;

}

.bigText{
    color: #F5E8C7;
    font-size: 4vw;
    font-variant-caps: all-petite-caps;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App{
    overflow-y: auto;
}
